.top-bar {
  @include displayFlex(space-between, center, row);

  margin-bottom: 20px;

  &__text {
    font-size: 24px;
    font-weight: $font-weight-bold;
    margin-right: 120px;
  }

  &__icon {
    @include displayFlex(center, center, row);

    &__img {
      width: 15px;
      height: 12px;
      filter: invert(1);

      &--about {
        width: 36px;
        height: 36px;
        border-radius: 12px;
      }
    }
  }
}
