{% extends "base.html" %}

{% block content %}
<div class="container">
    <textarea class="input" id="codeArea"></textarea>
    <button id="submitButton" onclick="execute()">Submit</button>
    <button id="clearButton" onclick="clearArea()">Clear</button>
    <textarea class="output" readonly>{{ }}</textarea>
</div>
<script type="text/javascript">
    async function execute() {
        let pyodide = await loadPyodide();
        const code = document.getElementById('codeArea').value;
        console.log(pyodide.runPython(code));
    }

    function clearArea() {
        document.getElementById('codeArea').value = '';
    }
</script>
{% endblock %}