{% extends "base.html" %}

{% block content %}
<div class="container">
    <textarea id="codeArea"></textarea>
    <button id="submitButton" onclick="getExecutionResult()">Submit</button>
    <button id="clearButton" onclick="clearArea()">Clear</button>
</div>
<script>
    async function getExecutionResult() {
        const url = 'http://localhost:8000/question/execute';
        const code = document.getElementById('codeArea').value;
        const response = fetch(url, {
            method: 'POST',
            body: JSON.stringify(code)
        });
        console.log(response);
        return response;
    }

    function clearArea() {
        document.getElementById('codeArea').value = '';
    }
</script>
{% endblock %}